.title {
	text-align: center;
	font-size: 5rem;
	margin: 2rem;	
}
/* Small phones title */

@media (max-width:767px) {
    	.title {
        	font-size: 2.0rem;
    	}
}

/*   Wiki Logo Image    */
#wiki-logo {
	height: 4rem;
	width: 4rem;
	vertical-align: middle;
}

/*     Search bar and button     */

#search-text{
	text-align: center;
}
#search-bar {
	height: 2.3rem;
	width: 30rem;
	border-radius: 30px 0px 0px 30px;
	border-color: #3366CC;

}
#search-bar[placeholder] {
	font-size: 1.2rem;
	padding-left: 1rem;
}
#search-container {
	display: inline-block;
	vertical-align: bottom;
	margin-left: -.5rem;
}
#search-button {
	height: 2.3rem;
	width: 2.5rem;
	border-radius: 0px 30px 30px 0px;
	border-color: #3366CC;
	background: #3366CC;
	color: #fff;
}

/*   Random button area */
#random-container {
	text-align: center;
	margin: 1rem;
}
#random-button {
	height: 2.3rem;
	width: 11rem;
	font-size: 1.0rem;
	border-radius: 30px;
	border-color: #3366CC;
	background: #3366CC;
	color: #fff;
}
