/* Lesson learned... Either use Bootstrap, Material, Skeleton or SCSS for styling. It's so much faster.  */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans');

.title {
	text-align: center;
	font-size: 5rem;
	font-family: 'Work Sans', sans serif;
	margin: 15rem 2rem 1.75rem 2rem;	
}

/*   Wiki Logo Image    */
#wiki-logo {
	height: 4rem;
	width: 4rem;
	vertical-align: middle;
}

/*     Search bar and button     */

#search-text{
	text-align: center;
}

#search-bar {
	height: 2.3rem;
	width: 30rem;
	border-radius: 1.875rem 0rem 0rem 1.875rem;
	border-color: #3366CC;
	-webkit-appearance: none;
}

#search-bar[placeholder] {
	font-size: 1.2rem;
	padding-left: 1rem;
}

#search-container {
	display: inline-block;
	vertical-align: bottom;
	margin-left: -.5rem;
}

#search-button {
	height: 2.3rem;
	width: 2.5rem;
	border-radius: 0rem 1.875rem 1.875rem 0rem;
	border-color: #3366CC;
	background: #3366CC;
	color: #fff;
	-webkit-appearance: none;
}

/*   Random button area */
#random-container {
	text-align: center;
	margin: 1rem;
}
.random-button {
	height: 2.3rem;
	width: 11rem;
	font-size: 1.0rem;
	border-radius: 1.875rem;
	border-color: #3366CC;
	background: #3366CC;
}
.random-button a {
	color: #fff;

}

/*   Search Results */
.search-results {
	text-align: center;
	font-size: 1.5rem;

}

.search-results:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.result-title {
	width: 35rem;
	margin: 2.0rem auto;
	text-align: left;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 0.15rem;
}

.result-title:hover{
	border-left: 5px solid #fb7216;
}

.result-title a {
	font-family: 'Work Sans', sans serif;
	font-weight: bold;
	color: #3366CC;
	font-size: 1.5rem;

}

.result-p {
	margin-top: .75rem;
	font-family: 'Open Sans', sans serif;
	font-size: 2.0rem;
}

/*    Media Queries */

@media (max-width:767px) {

	.title {
     	font-size: 2.0rem;
     	margin: 5rem 2rem .75rem 2rem;
    }

	#wiki-logo {
		height: 2rem;
		width: 2rem;
		
    }

    #search-bar {
		height: 2rem;
		width: 15rem;
		margin: .5rem 1.2rem;
    }

    #search-container {
		margin: -.4rem 0rem 0rem -1.5rem;
		vertical-align: middle;

    }

    #search-button {
		height: 2rem;
		width: 2.5rem;
    }

    .result-title {
		width: 85%;
    }

    .result-title a {
    	font-size: 1rem;
    }

    .result-p {
		font-size: 0.75rem;
	}
}




