.title {
	text-align: center;
	font-size: 5rem;
	margin: 15rem 2rem 1.75rem 2rem;	
}

@media (max-width:767px) {
	.title {
     	font-size: 2.0rem;
     	margin: 5rem 2rem .75rem 2rem;
    }
}

/*   Wiki Logo Image    */
#wiki-logo {
	height: 4rem;
	width: 4rem;
	vertical-align: middle;
}

@media (max-width:767px) {
	#wiki-logo {
		height: 2rem;
		width: 2rem;
		
    }
}

/*     Search bar and button     */

#search-text{
	text-align: center;
}

#search-bar {
	height: 2.3rem;
	width: 30rem;
	border-radius: 1.875rem 0rem 0rem 1.875rem;
	border-color: #3366CC;
}

@media (max-width:767px) {
	#search-bar {
		height: 2rem;
		width: 15rem;
		margin: .5rem 1.2rem;
    }
}

#search-bar[placeholder] {
	font-size: 1.2rem;
	padding-left: 1rem;
}
#search-container {
	display: inline-block;
	vertical-align: bottom;
	margin-left: -.5rem;
}

@media (max-width:767px) {
	#search-container {
		margin: -.4rem 0rem 0rem -1.5rem;
		vertical-align: middle;

    }
}
#search-button {
	height: 2.3rem;
	width: 2.5rem;
	border-radius: 0rem 1.875rem 1.875rem 0rem;
	border-color: #3366CC;
	background: #3366CC;
	color: #fff;
}

@media (max-width:767px) {
	#search-button {
		height: 2rem;
		width: 2.5rem;
    }
}


/*   Random button area */
#random-container {
	text-align: center;
	margin: 1rem;
}
.random-button {
	height: 2.3rem;
	width: 11rem;
	font-size: 1.0rem;
	border-radius: 1.875rem;
	border-color: #3366CC;
	background: #3366CC;
}
.random-button a {
	color: #fff;

}

/*   Search Results */

.search-results {
	text-align: center;
	font-size: 20px;

	
}
a {
	text-decoration: none;
}

.result-title {
	color: black;
	width: 35rem;
	margin: 2.0rem auto;
	text-decoration: none;
	text-align: left;
	border: 1px solid #3366CC;
	padding: 1rem;
	
}

.result-p {
	margin-top: .75rem;
}